<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
    <div class="page-header">
    <h1>Sam Dawson <small>Rush fan</small></h1>
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="home">Home</a></li>
      <li role="presentation"><a href="fav">Some of My Favorite Rush Songs</a></li>
      <li role="presentation"class="active"><a href="about">About Me</a></li>
    </div>
  <body>
    <p>
      I first discovered Rush as a frustrated teenager, struggling to learn bass.
      For me, they were the first band I seriously enganged with.  Their records were
      the first I ever liistened to as a whole, and with them I began to see music
      in an entirely different light.  Rush is responsible for how I hear music,
      and how I understand and conceptualize rock bands.

      (Below, the natural progession of my obsession.)
    </p>
    <p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NVq4ZPzP5_0" frameborder="0" allowfullscreen></iframe>

    </p>


  </body>
</html>
